

body {
  background-image: url("https://media.istockphoto.com/photos/calendar-page-flipping-sheet-close-up-blur-background-business-picture-id1241235622?b=1&k=20&m=1241235622&s=170667a&w=0&h=Mv5W0h2e1135efYHzNXvNKYsRaL1sMsa6MuSArJkh6g=");
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}



.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}



.row {
  padding-top: 20px;
  text-align: center;
  height: 60px;
  border-bottom: 1px black;
}

.row1 {
  padding: 0.5em;
  margin-bottom: 0.4em;
  border: 1px solid gray;
  border-radius: 0.5em;
  
}

.hour {
  color: #0b0125;
  font-size: 25px;
  text-align: center;
}

.past {
  background-color: #8a8888;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #85f785;
  color: white;
}

.saveBtn {
  border-radius: 5px;
  background-color: #06AED5;
  color: rgb(43, 1, 1);
}

.saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

